{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% load static %} <img src="{% static 'imagenes/hola.jpg'%}"
style="width: 555px;height: 540px;" />
    <h1>Pagina Principal</h1>

        <p>Bienvenido a <em>Bibliopelis</em></p>

    <h2>Dynamic content</h2>

    <p>Los registros totales de la pagina son:</p>
    <ul>
        <li><strong>peliculas:</strong> {{ num_pelis }}</li>

        <li><strong>autores:</strong> {{ num_autores }}</li>
    </ul>
 {% endblock %}

 