{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% load static %} <img src="{% static 'imagenes/hola.jpg'%}"
style="width: 555px;height: 540px;" />
    <h1>Local Library Home</h1>

        <p>Welcome to <em>LocalLibrary</em>, Django website </p>

    <h2>Dynamic content</h2>

    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>peliculas:</strong> {{ num_pelis }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>autores:</strong> {{ num_autores }}</li>
    </ul>
 {% endblock %}

 