{% extends "base_generic.html" %}

{% block content %}
    <h1>pelicula List</h1>
    
    <form method="get" action="{% url 'peliculas' %}">


      {% if pelicula_list %}
      <ul>

        {% for pelicula in pelicula_list %}
        <li>
          <a href="{{ pelicula.get_absolute_url }}">{{ pelicula.nombre_pelicula }}</a> ({{pelicula.autor}})
        </li>
        {% endfor %}
      </ul>
    

        {% else %}
          <p>There are no peli in the library.</p>
      {% endif %} 

    </form>      
{% endblock %}