{% extends "base_generic.html" %}

{% block content %}
    <h1>pelicula List</h1>
    
    <form method="get" action="{% url 'peliculas' %}">
      
      <select name="browse">
        {% for Genre in Genre.objects.all %}

          <option value={{ Genre }} name={{ Genre.name }}>{{ Genre.name }}</option>
         
        {% endfor %} 
        
      </select>
      <p><input type="submit" name="submit" value="submit"/></p>


      {% if pelicula_list %}
      <ul>

        {% for pelicula in pelicula_list %}
        <li>
          <a href="{{ pelicula.get_absolute_url }}">{{ pelicula.nombre_pelicula }}</a> ({{pelicula.autor}})
        </li>
        {% endfor %}

      </ul>

        {% else %}
          <p>There are no peli in the library.</p>
      {% endif %} 

    </form>      
{% endblock %}