{% extends "base_generic.html" %} 
  
<div class="title">
    <h1>Titulo: {{ pelicula.nombre_pelicula }}</h1>
</div>
<div class="contentBox">
    {% if pelicula.autor %}
        <p><strong>Autor:</strong> <a href="{% url 'autor-detail' pelicula.autor.pk %}">{{ pelicula.autor }}</a></p>
    {% else %}
        <p><strong>Autor:</strong> Desconocido.</p>
    {% endif %}
    <p><strong>Descripcion:</strong> {{ pelicula.descripcion }}</p>

    <p><strong>Genero:</strong> {{ pelicula.genero.all|join:", " }}</p>
</div>

<div style="margin-left:20px;margin-top:20px">
    <a style="padding=30px" href="delete/">Eliminar</a>
    <a href="update/">Actualizar</a>
</div>
{% endblock %}